<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.ticket.dao.TblDiscountMapper">
  <resultMap id="BaseResultMap" type="com.qy.ticket.entity.TblDiscount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="park_id" jdbcType="BIGINT" property="parkId" />
    <result column="park_name" jdbcType="VARCHAR" property="parkName" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
  </resultMap>
</mapper>