<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.ticket.dao.TblDiscountRecordMapper">
  <resultMap id="BaseResultMap" type="com.qy.ticket.entity.TblDiscountRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>